xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
config/chromium
vim/view
vim/.netrwhist
config/spotify
config/octave
config/Trolltech.conf
config/hub
bash_profile.local
aliases.local
gitconfig.local
shell_profile.local
vimrc.local
tmux.conf.local
vim/bundle/**
vim/bundle/vundle/**
vim/_temp
vim/_backup
vim/spell
vim/plugged

*.private
