xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
vim/view
vim/.netrwhist

config/chromium
config/gh
config/hub
config/octave
config/spotify
config/Trolltech.conf

bash_profile.local
aliases.local
gitconfig.local
shell_profile.local
vimrc.local
tmux.conf.local
vim/bundle/**
vim/bundle/vundle/**
vim/_temp
vim/_backup
vim/spell
vim/plugged

*.private
